{% load static %}
<div id="aside-expander" class="aside-expander"><img src="{% static 'img/logo/right.svg' %}" id="aside-expander-icon"></div>
<header>
  <h1>BeerCrackerz</h1>
  <h2><i>{RESET_PASSWORD_SUBTITLE}</i></h2>
</header>
<main>
  <p id="reset-password-error" class="reset-password-error">{RESET_PASSWORD_HIDDEN_ERROR}</p>
  <label>{RESET_PASSWORD_1}</label>
  <input id="password1" type="password">
  <label>{RESET_PASSWORD_2}</label>
  <input id="password2" type="password">
  <button id="reset-password-submit" class="validate">{RESET_PASSWORD_BUTTON}</button>
  <p><i>{RESET_PASSWORD_LOGIN_LABEL} <a href="#" id="login-aside">{RESET_PASSWORD_LOGIN}</a></i></p>
</main>
<footer>
  <a href="https://messe-basse-production.com" target="_blank" rel="noopener noreferrer" alt="software-editor-website">Messe Basse Production</a>
  <p>2022/2023 – GPL-3.0</p>
</footer>
