<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Login | BeerCrackerz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta name="description" content="The website for beer lover, to share the best spot to crack a beer, or to easily refill this beverage of the gods!">
  <link rel="canonical" href="https://beercrackerz.org/">
  <!-- Leaflet stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin="">
  <!-- Leaflet.markercluster plugin stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" crossorigin="">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" crossorigin="">
  <link rel="stylesheet" href="{% static 'dist/BeerCrackerzAuth.bundle.css' %}">
  <!-- Favicon zone -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#FFFFFF">
  <!-- Open graph metas -->
  <meta property="og:title" content="Beer Crackerz">
  <meta property="og:url" content="https://beercrackerz.org/">
  <meta property="og:image" content="{% static 'img/logo-social.png' %}">
  <meta property="og:description" content="The website for beer lover, to share the best spot to crack a beer, or to easily refill this beverage of the gods!">
  <meta property="og:site_name" content="Beer Crackerz">
  <meta property="og:type" content="website">
  <!-- Twitter card meta -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Beer Crackerz">
  <meta name="twitter:description" content="The website for beer lover, to share the best spots to crack a beer, or to easily refill this beverage of gods!">
  <meta name="twitter:image:src" content="{% static 'img/logo-social.png' %}">
</head>
<body class="login dark-theme">
  <nav>
    <div class="cmd-bar">
      <div class="cmd-wrapper">
        <img src="{% static 'img/logo/center.svg' %}" alt="center-on" id="center-on">
      </div>
    </div>
  </nav>
  <main id="beer-crakerz-map" class="beer-crakerz-map"></main>
  <div id="zoom-slider" class="zoom-slider">
    <p id="zoom-more">&plus;</p>
    <div id="slider-wrapper" class="slider-wrapper">
      <div id="slider-position" class="slider-position"></div>
    </div>
    <p id="zoom-less">&minus;</p>
  </div>
  <div id="expander-back" class="expander-back"></div>
  <aside id="aside">
    <div id="aside-expander" class="aside-expander">
      <img src="{% static 'img/logo/right.svg' %}" id="aside-expander-icon" alt="aside-expander-icon">
    </div>
    <header>
      <h1>BeerCrackerz</h1>
      <h2><i>{LOGIN_SUBTITLE}</i></h2>
    </header>
    <main>
      <p id="login-error" class="login-error">{LOGIN_HIDDEN_ERROR}</p>
      <label>{LOGIN_USERNAME_LABEL}</label>
      <input id="username" type="text">
      <label>{LOGIN_USERNAME_PASSWORD}</label>
      <input id="password" type="password">
      <button id="login-submit" class="validate">{LOGIN_BUTTON}</button>
      <p><i>{LOGIN_NOT_REGISTERED} <a href="#" id="register-aside" alt="register">{LOGIN_REGISTER}</a></i></p>
      <p><i>{LOGIN_FORGOT_PASSWORD} <a href="#" id="forgot-password" alt="forgot-password">{LOGIN_PASSWORD_RESET}</a></i></p>
    </main>
    <footer>
      <a href="https://messe-basse-production.com" target="_blank" rel="noopener noreferrer" alt="software-editor-website">Messe Basse Production</a>
      <p>2022/2023 – GPL-3.0</p>
    </footer>
  </aside>
  <!-- Leaflet script -->
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin=""></script>
  <!-- Leaflet.markercluster plugin script -->
  <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js" crossorigin=""></script>
  <!-- BeeCrackerzAuth entry point -->
  <script type="text/javascript" src="{% static 'dist/BeerCrackerzAuth.bundle.js' %}"></script>
  <script type="text/javascript">
    if (window.location.href.indexOf('?debug') !== -1) { window.DEBUG = true; }
    window.BeerCrackerz = new BeerCrackerz();
  </script>
</body>
</html>
