{% load static %}
<div class="popup">
  <h1>{BAR_NAME}</h1>
  <p>{BAR_FOUND_BY} <b>{BAR_FINDER}</b></p>
  <p>{BAR_FOUND_WHEN} <b>{BAR_FOUND_DATE}</b></p>
  <div id="bar-rating" class="rating">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <p>({BAR_RATE}/5)</p>
  </div>
  <h2>{BAR_DESC}</h2>
  <footer>
    <div id="popup-social" class="info-mark">
      <img src="{% static 'img/logo/comment.svg' %}" alt="comment-mark">
      <img src="{% static 'img/logo/photo.svg' %}" alt="photo-mark">
    </div>
    <div id="popup-edit" class="edit">
      <img src="{% static 'img/logo/edit.svg' %}" id="edit-mark" alt="edit-mark">
      <img src="{% static 'img/logo/trash.svg' %}" id="delete-mark" alt="delete-mark">
    </div>
  </footer>
</div>
