{% load static %}
<div class="popup">
  <h1>{SHOP_NAME}</h1>
  <p>{SHOP_FOUND_BY} <b>{SHOP_FINDER}</b></p>
  <p>{SHOP_FOUND_WHEN} <b>{SHOP_FOUND_DATE}</b></p>
  <div id="shop-rating" class="rating">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <p>({SHOP_RATE}/5)</p>
  </div>
  <div id="shop-types" class="types"></div>
  <h2>{SHOP_DESC}</h2>
  <div id="shop-modifiers" class="modifiers"></div>
  <footer>
    <div id="popup-social" class="info-mark">
      <img src="{% static 'img/logo/comment.svg' %}" alt="comment-mark">
      <img src="{% static 'img/logo/photo.svg' %}" alt="photo-mark">
    </div>
    <div id="popup-edit" class="edit">
      <img src="{% static 'img/logo/edit.svg' %}" id="edit-mark" alt="edit-mark">
      <img src="{% static 'img/logo/trash.svg' %}" id="delete-mark" alt="delete-mark">
    </div>
    <img src="{% static 'img/logo/center.svg' %}" id="center-on" alt="center-on">
  </footer>
</div>
