{% load static %}
<div class="popup">
  <h1>{SPOT_NAME}</h1>
  <p>{SPOT_FOUND_BY} <b>{SPOT_FINDER}</b></p>
  <p>{SPOT_FOUND_WHEN} <b>{SPOT_FOUND_DATE}</b></p>
  <div id="spot-rating" class="rating">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <img src="{% static 'img/logo/star.svg' %}" alt="rating-star">
    <p>({SPOT_RATE}/5)</p>
  </div>
  <h2>{SPOT_DESC}</h2>
  <footer>
    <div id="popup-social" class="info-mark">
      <img src="{% static 'img/logo/comment.svg' %}" alt="comment-mark">
      <img src="{% static 'img/logo/photo.svg' %}" alt="photo-mark">
    </div>
    <div id="popup-edit" class="edit">
      <img src="{% static 'img/logo/edit.svg' %}" id="edit-mark" alt="edit-mark">
      <img src="{% static 'img/logo/trash.svg' %}" id="delete-mark" alt="delete-mark">
    </div>
  </footer>
</div>
