.image-resizer {
  display: block;

  .container {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .resizer {
    border: solid 3px grey;
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    resize: both;
    right: 0;
    top: 0;

    .tl-grab, .tr-grab, .bl-grab .rl-grab {
      background-color: red;
      height: 6px;
      position: absolute;
      width: 6px;      
    }

    .tl-grab {
      cursor: nwse-resize;
      left: 0;
      top: 0;
    }
  }
}
