.notification-wrapper {
  align-items: center;
  background-color: var(--color-bg);
  border-radius: .5rem;
  box-shadow: 0 0 1rem var(--color-bg-a5);
  display: flex;
  flex-direction: column;
  height: 3rem;
  justify-content: center;
  left: calc(50% - 15rem);
  opacity: 0;
  position: absolute;
  top: -4rem;
  width: 30rem;
  z-index: 40;

  transition: top .3s, opacity .2s ease-out;

  &.opened {
    opacity: 1;
    top: 1rem;
  }

  .notification-message {
    font-style: italic;
    margin: 0;
  }
}
