.zoom-slider {
  align-items: center;
  background: white;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: .5rem;
  box-shadow: 0 0 10px #424242;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: center;
  opacity: 0;
  position: absolute;
  right: -6rem;
  top: calc(50% - 10rem);
  width: 4.8rem;
  z-index: 20;

  transition: right .3s, opacity .2s ease-out;

  &.opened {
    opacity: 1;
    right: calc(var(--aside-width) + 1rem);
  }

  p {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    margin: .5rem 0;
    user-select: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .slider-wrapper {
    border-radius: .5rem;
    box-shadow: 0 0 10px #424242;
    height: 80%;
    overflow: hidden;
    position: relative;
    width: 20%;

    .slider-position {
      background-color: lime;
      bottom: 0;
      position: absolute;
      width: 100%;

      transition: height .2s;
    }
  }
}
