<div class="delete-mark-modal">
  <p id="modal-close" class="modal-close">&times;</p>
  <h1 id="nls-modal-title">{MODAL_TITLE}</h1>
  <p id="nls-modal-desc">{MODAL_DESC}Bienvenu sur BeerCrackerz!</p>
  <div class="helping-view-wrapper">
    <div class="page">
      <p>Voyons comment marche la carte.</p>
    </div>
  </div>
  <div class="button-wrapper">
    <button id="cancel-close" class="cancel">{MODAL_CANCEL}</button>
    <button id="delete-close" class="validate">{MODAL_DELETE}</button>
  </div>
</div>
