{% load static %}
<div class="user-profile-modal">
  <p id="modal-close" class="modal-close">&times;</p>
  <p id="nls-modal-title">{MODAL_TITLE}</p>
  <div class="item">
    <img src="{% static 'img/logo/precision.svg' %}" alt="high-accuracy-toggle">
    <label id="nls-user-modal-accuracy" for="high-accuracy-toggle">{ACCURACY_USER_MODAL}</label>
    <input type="checkbox" id="high-accuracy-toggle" name="labels">
  </div>
  <div class="item">
    <img src="{% static 'img/logo/debug.svg' %}" alt="debug-toggle">
    <label id="nls-user-modal-debug" for="debug-toggle">{DEBUG_USER_MODAL}</label>
    <input type="checkbox" id="debug-toggle" name="labels">
  </div>
  <p id="nls-about-desc">{BEERCRACKERZ_DESC}</p>
  <label id="nls-update-pp" for="pp">{UPDATE_PROFILE_PIC_LABEL}:</label>
  <div id="update-pp-wrapper" class="update-pp-wrapper">
    <input type="file" id="update-pp" name="update-pp" accept="image/png, image/jpeg">
    <p id="update-pp-error" class="update-pp-error"></p>
  </div>
  <button id="logout">LOGOUT</button>
</div>
