{% load static %}
<div class="user-profile-modal">
  <p id="modal-close" class="modal-close">&times;</p>
  <h1 id="nls-modal-title">{MODAL_TITLE}</h1>
  <div class="user-info">
    <div id="drop-user-pp" class="drop-user-pp">
      <img src="{% static 'img/logo/profile.svg' %}" id="user-pp" alt="user-pp">
    </div>
    <div>
      <h2 id="user-name"></h2>
      <p id="user-email"></p>
    </div>
  </div>
  <label id="nls-update-pp" for="pp">{UPDATE_PROFILE_PIC_LABEL}:</label>
  <div id="update-pp-wrapper" class="update-pp-wrapper">
    <input type="file" id="update-pp" name="update-pp" accept="image/png, image/jpeg">
    <p id="update-pp-error" class="update-pp-error"></p>
  </div>
  <div class="item">
    <img src="{% static 'img/logo/precision.svg' %}" alt="high-accuracy-toggle">
    <label id="nls-user-high-accuracy" for="high-accuracy-toggle">{ACCURACY_USER_CHECK}</label>
    <input type="checkbox" id="high-accuracy-toggle" name="high-accuracy">
  </div>
  <div class="item">
    <img src="{% static 'img/logo/night.svg' %}" alt="dark-theme-toggle">
    <label id="nls-user-dark-theme" for="dark-theme-toggle">{DARK_THEME_CHECK}</label>
    <input type="checkbox" id="dark-theme-toggle" name="dark-theme">
  </div>
  <div class="item">
    <img src="{% static 'img/logo/info.svg' %}" alt="startup-help-toggle">
    <label id="nls-startup-help" for="startup-help-toggle">{STARTUP_HELP}</label>
    <input type="checkbox" id="startup-help-toggle" name="startup-help">
  </div>
  <div class="item">
    <img src="{% static 'img/logo/debug.svg' %}" alt="debug-toggle">
    <label id="nls-user-debug" for="debug-toggle">{DEBUG_USER_CHECK}</label>
    <input type="checkbox" id="debug-toggle" name="debug">
  </div>
  <div class="item">
    <label id="nls-lang-select" for="lang-select">{LANG_SELECT}</label>
    <select name="lang" id="lang-select">
      <option id="nls-lang-fr" value="fr">{LANG_FR}</option>
      <option id="nls-lang-en" value="en">{LANG_EN}</option>
      <option id="nls-lang-es" value="es">{LANG_ES}</option>
      <option id="nls-lang-de" value="de">{LANG_DE}</option>
      <option id="nls-lang-it" value="it">{LANG_IT}</option>
      <option id="nls-lang-pt" value="pt">{LANG_PT}</option>
  </select>
  </div>
  <p id="nls-about-desc" class="about-desc">{BEERCRACKERZ_DESC}</p>
  <button id="logout" class="nls-user-logout">{USER_LOGOUT}</button>
</div>
