:root {
  --transition: .2s;

  --color-primary: #ffa800;
  --color-primary-a9: rgba(255, 168, 0, .9);
  --color-primary-a75: rgba(255, 168, 0, .75);
  --color-primary-a5: rgba(255, 168, 0, .5);
  --color-primary-a25: rgba(255, 168, 0, .25);
  --color-primary-a1: rgba(255, 168, 0, .1);

  --color-secondary: #0057ff;
  --color-tertiary: #80abff;

  --font-size: 1.375rem;
  --font-size-l1: 1.45rem;
  --font-size-l2: 1.6rem;
  --font-size-l3: 1.9rem;
  --font-size-l4: 2.4rem;
  --font-size-l5: 2.8rem;
}

body.dark-theme {
  --color-bg: #2E2E2E;
  --color-bg-a9: rgba(46, 46, 46, .9);
  --color-bg-a75: rgba(46, 46, 46, .75);
  --color-bg-a5: rgba(46, 46, 46, .5);
  --color-bg-a25: rgba(46, 46, 46, .25);
  --color-bg-a1: rgba(46, 46, 46, .1);

  --color-txt: #E2E2E2;
  --color-txt-a9: rgba(226, 226, 226, .9);
  --color-txt-a75: rgba(226, 226, 226, .75);
  --color-txt-a5: rgba(226, 226, 226, .5);
  --color-txt-a25: rgba(226, 226, 226, .25);
  --color-txt-a1: rgba(226, 226, 226, .1);
  /* No overrides at all, dark theme is default one */
}

body.light-theme {
  --color-bg: #E2E2E2;
  --color-bg-a9: rgba(226, 226, 226, .9);
  --color-bg-a75: rgba(226, 226, 226, .75);
  --color-bg-a5: rgba(226, 226, 226, .5);
  --color-bg-a25: rgba(226, 226, 226, .25);
  --color-bg-a1: rgba(226, 226, 226, .1);

  --color-txt: #2E2E2E;
  --color-txt-a9: rgba(46, 46, 46, .9);
  --color-txt-a75: rgba(46, 46, 46, .75);
  --color-txt-a5: rgba(46, 46, 46, .5);
  --color-txt-a25: rgba(46, 46, 46, .25);
  --color-txt-a1: rgba(46, 46, 46, .1);
  /* I,vert svg icon that are white on white */
  .info-mark img, .edit img,
  .rating img, .pricing img,
  .types p img, .modifiers p img,
  .item[data-type="label"] img, .item[data-type="circle"] img,
  .item img {
    filter: invert(1);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color-txt);
  font-family: sans-serif;
  font-size: 1.4rem;
  position: relative;
}

h1 {
  color: var(--color-txt);
  font-size: var(--font-size-l5);
  margin-bottom: var(--font-size);
}

h2 {
  font-size: var(--font-size-l4);
}

a {
  color: var(--color-primary);
  font-size: var(--font-size);
  margin-bottom: var(--font-size);
}

p, label {
  color: var(--color-txt);
  font-size: var(--font-size);
  margin-bottom: var(--font-size);

  &.error {
    color: var(--color-primary);
    font-weight: bold;
  }
}

label {
  font-style: italic;
}

input, textarea {
  border: solid 1px var(--color-txt);
  border-radius: .5rem;
  background-color: transparent;
  color: var(--color-txt);
  display: block;
  margin: .5rem auto;
  margin-bottom: var(--font-size);
  padding: .5rem;
  width: 100%;

  transition: border .2s;
}

input.error {
  background-color: var(--color-primary-a5);
}

button {
  background-color: transparent;
  border: solid 1px var(--color-txt);
  border-radius: .5rem;
  color: var(--color-txt);
  cursor: pointer;
  display: block;
  margin: .5rem auto;
  padding: .5rem;
  width: 100%;

  transition: background-color .2s, color .2s;

  &.validate {
    background-color: var(--color-primary-a75);
    border: solid 1px var(--color-txt-a5);
    color: var(--color-bg);    
  }

  &.cancel {
    border: solid 1px var(--color-primary);
  }

  &:active,
  &:focus,
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
  }
}
