@media (min-width: 720px) {
  .overlay [class$="-modal"] {
    max-width: 70%;
  }

  .overlay [class$=-modal] {
    padding: 3rem 4rem;
  }
}

@media (min-width: 1080px) {
  .overlay [class$="-modal"] {
    max-width: 50%;
  }
}
