@import 'scss/keyframes';
@import 'scss/base';

main.beer-crakerz-map {
  height: 100%;
  width: 100%;
  z-index: 10;

  .new-poi {
    text-align: center;

    p {
      font-size: 1.6rem;
      font-weight: bold;
    }

    button {
      margin: 1.2rem 0;
    }
  }

  .marker-tooltip {
    font-style: italic;
    text-align: center;
  }
}

nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 4.8rem;
  z-index: 20;

  img {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #424242;
    width: 100%;
  }

  .cmd-bar {
    .cmd-wrapper {
      align-items: center;
      background: white;
      background-clip: padding-box;
      border: 2px solid rgba(0, 0, 0, .2);
      border-radius: .5rem;
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      padding: .2rem;

      &:first-child {
        margin-top: 0;
      }

      img {
        box-shadow: inherit;
        transition: all .2s;

        &:active,
        &:focus,
        &:hover {
          border: solid 1px rgb(185, 185, 185);
          border-radius: .5rem;
          padding: .2rem;

          filter: invert(70%) sepia(67%) saturate(455%) hue-rotate(67deg) brightness(163%) contrast(85%);
        }

        &[class$="-on"] {
          filter: invert(53%) sepia(30%) saturate(1977%) hue-rotate(155deg) brightness(88%) contrast(102%);
        }
      }

      &.logo img {
        padding: .1rem;

        &:active,
        &:focus,
        &:hover {
          filter: inherit;
        }
      }
    }
  }
}

@import 'scss/overlay';
@import 'scss/component/notification';
@import 'scss/component/zoomslider';
@import 'scss/leaflet';
@import 'scss/responsive';
