@import 'scss/base';

/*  ----------------------------------------------------------  *
 * The BeerCrackerzAuth style bundle                            *
 * Elements have given z-index :                                *
 * 10 : Main map, that occupies the whole page                  *
 * 20 : The page header, only displayed when aside is collapsed *
 * 30 : The Aside that must be over everything at anytime       *
 *  ----------------------------------------------------------  */

:root {
  --aside-width: 40rem;
  --aside-offset: 0rem;
  --aside-transtion-duration: .5s;
}

body {
  background: var(--color-bg);
  color: var(--color-txt);
  height: 100%;
  position: relative;
  width: 100%;
}

nav {
  bottom: 2.8rem;
  box-shadow: 0 0 1rem var(--color-bg-a9);
  display: flex;
  flex-direction: column;
  position: absolute;
  /* Force nav to stick to aside's left even when collapsed */
  right: calc(var(--aside-width) + var(--aside-offset) + 1rem);
  width: 4.8rem;
  z-index: 20;

  transition: right var(--aside-transtion-duration);

  img {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #424242;
    width: 100%;
  }

  .cmd-bar {
    .cmd-wrapper {
      align-items: center;
      background: var(--color-bg-a9);
      background-clip: padding-box;
      border: 2px solid rgba(0, 0, 0, .2);
      border-radius: .5rem;
      display: flex;
      justify-content: center;
      margin-top: 0;
      padding: .2rem;

      img {
        box-shadow: inherit;
        transition: all var(--transition);

        &:active,
        &:focus,
        &:hover {
          border: solid 1px rgb(185, 185, 185);
          border-radius: .5rem;
          padding: .2rem;

          filter: invert(63%) sepia(54%) saturate(1053%) hue-rotate(359deg) brightness(100%) contrast(106%);
        }
      }
    }
  }
}

.page-header {
  background-color: var(--color-bg-a9);
  border: 2px solid var(--color-bg);
  border-radius: .5rem;
  left: 0;
  margin: 1rem;
  max-width: 40rem;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 20;

  transition: opacity var(--aside-transtion-duration);

  &.visible {
    opacity: 1;
  }
}

main.beer-crakerz-map {
  height: 100%;
  width: 100%;
  z-index: 10;

  transition: width var(--aside-transtion-duration);

  .leaflet-control-layers.leaflet-control {
    right: calc(var(--aside-width) + var(--aside-offset) + 5.8rem);
    transition: right var(--aside-transtion-duration);
  }
  /* Endure attribution and layers controls are stiking to aside when collapsing/expanding*/
  .leaflet-control-attribution.leaflet-control {
    right: calc(var(--aside-width) + var(--aside-offset));
    transition: right var(--aside-transtion-duration);
  }
}

aside {
  background-color: var(--color-bg-a9);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-width: var(--aside-width);
  position: absolute;
  right: var(--aside-offset);
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 30;

  transition: all var(--aside-transtion-duration);

  .aside-expander {
    cursor: pointer;
    height: 4.8rem;
    left: 0;
    position: absolute;
    top: 0;
    filter: drop-shadow(0 0 1px var(--color-bg));

    transition: left var(--transition);
  }

  h1 {
    margin-bottom: 0;
  }

  header {
    margin-top: 5rem;
  }

  main {
    margin: 0 4rem;
    text-align: left;

    button {
      margin: 2.9rem auto 1.2rem;
    }

    p {
      margin-bottom: .5rem;
      text-align: right;

      &[class*="error"] {
        color: transparent;
        font-style: italic;
        font-weight: bold;
        text-align: center;
  
        transition: color var(--transition);
  
        &.visible {
          color: var(--color-primary);
        }

        &.success {
          color: #a1ff86;
        }
      }
    }
  }

  footer {
    margin-bottom: 5rem;
  }
}

.zoom-slider.opened {
  /* Force slider to stick to aside's left even when collapsed */
  right: calc(var(--aside-width) + var(--aside-offset) + 1rem);
}

@import 'scss/overlay';
@import 'scss/component/zoomslider';
@import 'scss/leaflet';
