@import 'scss/keyframes';
@import 'scss/base';

body {
  background: white;
  height: 100%;
  position: relative;
  width: 100%;
}

aside {
  background-color: grey;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-width: 40rem;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;

  h1 {
    margin-bottom: 0;
  }

  header {
    margin-top: 5rem;
  }

  main {
    margin: 0 4rem;
    text-align: left;

    button {
      margin: 2.9rem auto 1.2rem;
    }

    p {
      text-align: right;
    }

    .login-error {
      color: transparent;
      font-style: italic;
      font-weight: bold;
      text-align: center;

      transition: color .2s;

      &.visible {
        color: #ff5454;
      }
    }
  }

  footer {
    margin-bottom: 5rem;
  }
}
