@import 'scss/keyframes';

@font-face {
  font-family: 'Catamaran';
  src: url('/assets/font/Catamaran.ttf') format('truetype'),
		url('/assets/font/Catamaran.woff') format('woff');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 62.5%;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

body {
	background: #181818;
	color: #D4D4D4;
	font-family: sans-serif;
	position: relative;
}

h1 {
	color: #181818;
	font-size: 2.8rem;
	margin-bottom: 1.2rem;
}

p, label {
	color: #2e2e2e;
	font-size: 1.2rem;
	margin-bottom: 1.2rem;
}

label {
	font-style: italic;
}

input, textarea {
	border: solid 1px #424242;
	border-radius: .5rem;
	display: block;
	margin: .5rem auto;
	margin-bottom: 1.2rem;
	padding: .5rem;
	width: 100%;
}

button {
	background-color: #e9e9e9;
	border: solid 1px #424242;
	border-radius: .5rem;
	cursor: pointer;
	display: block;
	margin: .5rem auto;
	padding: .5rem;
	width: 100%;

	&.validate {
		background-color: #a1ff86;
	}

	&.cancel {
		background-color: #ff9a9a;
	}
}

aside {
	background: white;
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
	box-shadow: 0px 0px 10px #181818;
	height: 50%;
	left: 0;
	max-width: 30rem;
	opacity: 0;
	padding: 2.5rem 1.5rem;
	position: absolute;
	top: 25%;
	width: auto;
	z-index: 20;

	transition: opacity .2s ease-out;

	h1, p {
		text-align: center;
	}

	.close-aside {
		color: #999;
		cursor: pointer;
		font-size: 2.2rem;
		font-weight: bold;
		line-height: 1.4rem; // Because the cross symbol doesn't fit font height
		right: 1rem;
		position: absolute;
		top: 1rem;
	}

	.rating {
		margin-bottom: 1.2rem;

		img {
      cursor: pointer;
			height: 2.5rem;
			margin: 0 .25rem;
			width: 2.5rem;

      &.active {
        filter: invert(95%) sepia(39%) saturate(3136%) hue-rotate(323deg) brightness(96%) contrast(115%);

        &.selected {
          filter: invert(75%) sepia(9%) saturate(4002%) hue-rotate(67deg) brightness(81%) contrast(83%);
        }
      }
		}
	}
}

main.beer-crakerz-map {
	height: 100%;
	width: 100%;
	z-index: 10;

	.new-poi button {
		margin: 1.2rem 0;
		padding: .8rem 2.2rem;
	}

	.marker-tooltip {
		font-style: italic;
	}
}

nav {
	bottom: 0;
	display: flex;
	left: 0;
	height: 5rem;
	justify-content: center;
	position: absolute;
	width: 100%;
	z-index: 20;

	.cmd-bar {
		align-items: center;
		background: white;
		border-top-left-radius: .5rem;
		border-top-right-radius: .5rem;
		box-shadow: 0px 0px 10px #424242;
		display: flex;
		height: 100%;
		justify-content: center;
		padding: .75rem;
		width: auto;

		img {
			cursor: pointer;
			height: 100%;
			margin: 0 .5rem;

			transition: all .2s;

			&:active,
			&:focus,
			&:hover {
				border: solid 1px rgb(185, 185, 185);
				border-radius: .5rem;
				padding: .2rem;
			}
		}

		[class$="-on"] {
			filter: invert(53%) sepia(30%) saturate(1977%) hue-rotate(155deg) brightness(88%) contrast(102%);
		}
	}
}

.overlay {
	align-items: center;
	background: rgba(255, 255, 255, .8);
	display: none;
	height: 100%;
	justify-content: center;
	position: absolute;
	opacity: 0;
	top: 0;
	width: 100%;
	z-index: 30;

	transition: opacity .3s;

	.about-modal {
		background: white;
		border-radius: .5rem;
		box-shadow: 0px 0px 10px #424242;
		padding: 2rem;
	}
}

@import 'scss/responsive';
