{% autoescape off %}
<p>
  <strong>
    <span style="font-size: 12pt;">Bonjour {{ user.username | capfirst }},</span>
  </strong>
  <span style="font-size: 12pt;"></span>
</p>
<p>&nbsp;</p>
<p>
  <span style="font-size: 11pt;">Une demande de r&eacute;initialisation de votre mot de passe viens d'&ecirc;tre effectu&eacute;e. Pour changer votre mot de passe, veuillez cliquer sur le lien suivant :</span>
</p>
<p>
  <span style="font-size: 11pt;">
    <a href="test" target="_blank" rel="noopener">{{ link }}</a>
  </span>
</p>
<p>
  <span style="font-size: 11pt;">Si vous n'&egrave;tes pas &agrave; l'origine de cette demande, merci d'ignorer ce mail.&nbsp;</span>
</p>
<p>&nbsp;</p>
<p>
  <span style="font-size: 12pt;"><strong><em>L'&Eacute;quipe BeerCrackerz</em></strong></span>
</p>
{% endautoescape %}
